.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.heading {
  text-align: center;
  color: hsl(240deg 9.8% 20%);
}
.sub-heading {
  text-align: center;
  color: gray;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px;
}

.task-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  width: 700px;
  height: 460px;
  box-shadow: 0px 0px 10px rgb(224, 223, 223);
}

.input-heading {
  font-size: 35px;
  margin: 10px;
  font-weight: bold;
  color: hsl(240deg 9.8% 20%);
}

.input-task {
  width: 400px;
  padding: 13px;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
  background-color: hsl(253.33deg 60% 97.06%);
}
.input-task:focus {
  outline: 2px solid rgb(136 121 210);
}

.btn {
  width: 120px;
  padding: 13px 20px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  background-color: rgb(189, 172, 252);
}

.btn:hover {
  background-color: rgb(136 121 210);
  transition: 0.3s;
}

.task-card {
  height: 60vh;
  overflow-y: scroll;
  width: fit-content;
}

@media (max-width: 768px) {
  .task-container {
    padding: 20px;
    width: 500px;
    height: 100vh;
  }
  .task-card {
    width: 500px;
    height: 50vh;
  }
}
