.task {
  background-color: white;
  width: 75vh;
  padding: 20px;
  color: gray;
  margin: 23px;
  border-radius: 25px 0px 25px 0px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0px 0px 3px rgb(165, 165, 165);
}

.task:hover {
  border: 1px solid rgb(136 121 210);
  transform: scale(1.02);
  transition: 0.3s;
}

.delete-icon {
    color: gray;
    cursor: pointer;
}

@media (max-width: 768px) {
  .task {
    width: 400px;
    font-size: 17px;
  }
}